@charset "utf-8";

/*基本样式*/
body{
	background-color: #fff;
	font-family: microsoft yahei;
	font-size: 16px;
	line-height: 1.5;
}
*{
	margin: 0;
	padding: 0;
}
h1, h2, h3, p{
	margin-bottom: 10px;
}
li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
h2{
	font-size: 1.5em;
}
.wrapper{
	width:940px;
	margin:0 auto;
}

/*页头样式（header）*/
#header{
	height: 110px;
	padding-top:15px;
	position: relative;
}
.ribbon-free{
	position: absolute;
	top:0;
	right:30px;
}
.logo{
	float: left;
	margin-right: 20px;
}
.top-menu{
	width: 586px;
	float: left;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
}
.top-menu li{
	float: left;
	margin-right: 10px;
	height: 42px;
}
.top-menu a{
	color:#393939;
	display: block;
	padding: 8px;
	margin-left: 5px;
}
.top-menu .active a{
	background: url(../images/top-menu-left.gif) no-repeat left top;
	padding:8px 30px;
	color:#fff;
}
.top-menu .active {
	background: url(../images/top-menu-right.png) no-repeat right top;
}

/*展示部分（showcase）*/
#showcase{
	clear:both;
	height: 408px;
	margin-bottom: 20px;
	position: relative;
	background: url(../images/showcase-mobile.png) repeat-x;
	color:#fff;
}
.iphone{
	position:absolute;
	right: 75px;
	top:-40px;
}
.showcase-content{
	width: 404px;
	padding:50px 0 0 70px;
}
.showcase-left{
	background: url(../images/showcase-left.png) no-repeat left top;
	height: 100%;

}
.showcase-right{
	background: url(../images/showcase-right.png) no-repeat right top;
	height: 100%;
}

/*主体部分（mainbody）*/
#mainbody{
	width: 620px;
	float: left;
	margin-bottom: 20px;
}
#mainbody img{
	float: left;
	width:40px;
	height:40px;
	margin:10px 20px 70px 0;
}
#mainbody p{
	margin-bottom: 35px;
}
#mainbody h2{
	color: #8bbf36;
}

/*边栏部分（sidebar）*/
#sidebar{
	width:300px;
	float:left;
	margin:0 0 20px 20px;
}
.sidebar-box{
	background: #222;
	margin-bottom: 20px;
	border-radius:20px;
}
.sidebar-box h3{
	padding:10px 0 0 25px;
	color:#fff;
}
.sidebar-menu li{
	height: 47px;
	border-top:1px solid #000;
}
.sidebar-menu li a{
	display: block;
	border-top: 1px solid #2d2d2d;
	padding:10px 20px 10px 25px;
	color:#fff;
}
.sidebar-menu .active{
	background: #000;
}
.sidebar-box p{
	color:#fff;
	padding:10px 25px;
}
.sidebar-quote-bottom{
	height: 28px;
	background: url(../images/sidebar-quoe-bottom.png) no-repeat;
	margin-top:-22px;
	margin-left: 40px;
}
.user img{
	float:left;
	margin-right: 15px;
}
.user p{
	font-size: 18px;
	color:#a4a0a0;
	font-weight: bold;
}